td.content{
    width: 90px;
    font-family: arial;
}
.font{
    font-family: arial;
}
.greyText{
    color: #8D8182;
    font-size: 12px;
    font-weight: bold;
}
.redText{
    color: #E83F32;
    font-weight: bold;
    font-size: 14px;
}
div.border {
    border-style: solid;
    border-color: #D4D4D4;
    border-width: 2px;
}
.margin-bottom{
    margin-bottom: 15px;
}
.mini-box{
    width: 130px;
    float: left;
    margin-right: 20px;
}
